*{
	font-family: "Oswald", sans-serif !important;
}

.container{
	font-weight: 100;
	background-color: rgba(200, 145, 122, .2);
}

.container-fluid{
		background-color: rgba(200, 145, 122, .7);
}

.jumbotron{
	background: url("https://images.unsplash.com/photo-1563453392212-326f5e854473?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}